.auth-body{
    height: 100vh;
    /* background-image: linear-gradient(to bottom, black,rgba(215,0,0,0.7), rgba(248,200,0,0.7)), url("../Images/airplane-wing.jpg");
    background-size: cover;
    background-position: center; */
}
/* .img-side{
    height: 100%;
    background-image:linear-gradient(rgba(0,0,0, 0.2), rgba(0,0,0, 0.7)), url("../Images/airplane-wing.jpg");
    background-size: cover;
    background-position: center;
}
.form-side{
    height: 100%;
} */
.brand-logo{
    height: 10vh;
}
/* .index-welcome{
    color: white;
    margin-top: 25vh;
}
.index-image{
    height: 50vh;
} */
.auth-form{
    margin-top: 13vh;
    min-height: 60vh;
    background-color: inherit;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.auth-form h4{
    margin-top: 12vh;
}
.auth-nav button{
    font-size: 16px;
    margin-top: 2vh;
    margin-right: 5vw;
}
.auth-nav button:hover{
    background-color: white;
    color: inherit;
}
.auth-form button{
    border: none;
    background-color: grey;
}
.auth-form button:hover{
    background-color: grey;
    animation: infiniteGradient 1s ease infinite;
    background-image: linear-gradient(to bottom right,rgba(215,0,0), rgba(248,200,0));
}
.conInput{
    position: relative;
    display: flex;
}
@keyframes infiniteGradient { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
/* Complete Registration */
.comp-reg{
    height: 91vh;
}
.svg-area{
    height: 100%;
}
.svg-box{
    height: 24vh;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.svg-box img{
    width: 100%;
    height: 100%;
}
.word-box{
    height: 10vh;
}
.comp-reg .header{
    height: 22vh;
}
.comp-reg-body{
}
.comp-reg-body input, .comp-reg-body select{
    border-radius: 0;
}
.upload-photo{
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
}
.upload-photo:hover{
}
.upload-photo img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.comp-reg .left-side{
    /* background-image: linear-gradient(to bottom, black,rgba(215,0,0,0.7), rgba(248,200,0,0.7)), url("../Images/airplane-wing.jpg"); */
}
.sim-tabs .nav-link{
    color: grey;
}
#err_email{
    color: red;
    font-size: 10px;
}
#err_pwd{
    color: red;
    font-size: 10px;
}
#err_verify{
    color: red;
    font-size: 10px;
}
#success{
    position: absolute;
    z-index: 101;
    top: 30;
    left: 0;
    right: 0;
    color:#ffffff;
    text-align: center;
    line-height: 2.5;
    overflow: hidden; 
    animation-delay: 1s; animation-duration: 0.2s;
}
i{
    color: red;
    font-size: 10px;
    position: absolute;
}
#err_checked{
    display: none;
    color: red;
    font-size: 10px;
}