.dash-body{
    min-height: 90vh;
}
.dash-right{
    min-height: 90vh;
}
.main-blocks{
    height: 35vh;
}
.block-name{
    height: 20%;
}
.block-image div{
    height: 24vh;
}
.join-group{
    background-image: url(../Images/join-class.svg);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}
.profile-block{
    background-image: url(../Images/profile.svg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}
.settings-block{
    background-image: url(../Images/settings.svg);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}
.cbt-block{
    background-image: url(../Images/cbt.svg);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}